*                                 @arg1998
packages/contracts/**             @arg1998
packages/core/src/app/auth/**     @arg1998
packages/core/src/domain/vault/** @arg1998
specs/**                          @arg1998
